{% extends 'base.html' %}

{% block content %}
    <div class="min-h-screen flex justify-center items-center bg-gray-100">
        <div class="card w-full max-w-md bg-base-100 shadow-xl flex flex-col justify-center items-center">
            <div class="card-body">
                <h1 class="text-2xl font-medium">Hi, Welcome to Bank App</h1>
                <div class="flex gap-4 mt-2 items-center justify-center">
                    {% if user.is_authenticated %}
                    	<a href="{% url 'dashboard' %}" class="btn btn-primary rounded-md">Go To Dashboard</a>
                    {% else %}
                    	<a href="{% url 'login' %}" class="btn btn-outline btn-primary rounded-md">Login</a>
                        <a href="{% url 'register' %}" class="btn btn-primary rounded-md">Register</a>
                    {% endif %} 
                </div>
            </div>
        </div>
    </div>
{% endblock %}