{% extends "dashboard/base.html" %}

{% block dashboard_content %}
	<div class="flex justify-end">
        <a href="{% url "transaction-create" %}" class="btn btn-primary rounded-md">Add New</a>
    </div>
    <div class="card shadow-md bg-gray-50 mt-2">
        <div class="card-body">
            <div class="overflow-x-auto rounded-box border border-base-content/5 bg-base-100">
              <table class="table">
                <!-- head -->
                <thead>
                  <tr>
                    <th>From Account</th>
                    <th>To Account</th>
                    <th>Amount</th>
                    <th>Status</th>
                    <th>Success Date</th>
                    <th>Description</th>
                  </tr>
                </thead>
                <tbody>
                  {% if transactions|length == 0 %}
                  	<tr>
                        <td colspan="5" class="text-center text-gray-500 py-4">
                            No transactions available.
                        </td>
                    </tr>
                  {% else %}
                      {% for transaction in transactions %}
                          <tr>
                            <td>
                                {{ transaction.from_account.account_number }} - {{ transaction.from_account.card_holder_name }}
                            </td>
                            <td>
                                {{ transaction.to_account.account_number }} - {{ transaction.to_account.card_holder_name }}
                            </td>
                            <td>
                                {{ transaction.amount }}
                            </td>
                            {% if transaction.transaction_status == 'pending' %}
                            	<td class="text-yellow-500">
                                    {{ transaction.transaction_status }}
                                </td>
                            {% elif transaction.transaction_status == 'completed' %}
                                <td class="text-green-500">
                                    {{ transaction.transaction_status }}
                                </td>
                            {% else %}
                                <td class="text-red-500">
                                {{ transaction.transaction_status }}
                                </td>
                            {% endif %}
                            <td>
                                {{ transaction.success_date }}
                            </td>
                            <td>
                                {{ transaction.transaction_description }}
                            </td>
                          </tr>
                      {% endfor %}

                  {% endif %}
                </tbody>
              </table>
            </div>
        </div>
    </div>

{% endblock %}